@font-face {
  font-family: "Roboto Regular";
  src: url("../fonts/Roboto-Regular.ttf");
}
@font-face {
  font-family: "Roboto Bold";
  src: url("../fonts/Roboto-Bold.ttf");
}
@font-face {
  font-family: "Roboto Italic";
  src: url("../fonts/Roboto-Italic.ttf");
}
@font-face {
  font-family: "Roboto Bold Italic";
  src: url("../fonts/Roboto-BoldItalic.ttf");
}

* {
  box-sizing: border-box;
}

html, body {
  max-height: 100vh;
  margin: 0; padding: 0;
  background: rgb(249, 230, 218);
  font-family: "Roboto Regular";
  font-size: 18px; color: #202020;
}

ul {
  list-style-type: none;
  margin: 0; padding: 0;
}

p, h1, h2 {
  white-space: none;
  margin: 0; padding: 0;
  color: #101010;
}

h1, h2 {
  font-family: "Roboto Bold";
  user-select: none;
}

a {
  text-decoration: none;
}
a:link {
  color: #000080;
}
a:visited {
  color: purple;
}

/* Font classes */
.regular { font-family: "Roboto Regular"; }
.italic { font-family: "Roboto Italic"; }
.bold { font-family: "Roboto Bold"; }
.boldItalic { font-family: "Roboto Bold Italic"; }

/* Navigation bar */
header {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%; height: 64px;
  border-bottom: 3px solid #101010;
}
/* Navigation bar buttons */
header button {
  background: none; outline: none; border: none;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  border-radius: 10px;
  position: absolute;
}
header button > img {
  width: 50px; height: 50px;
}
#homeButton {
  top: 5px; left: 5px;
}
#dropdownButton {
  top: 5px; right: 5px;
}
/* Title/Header */
header > h1 {
  font-size: 35px;
  position: absolute;
}

#dropdownList {
  display: none;
  position: absolute;
  top: 71px; right: 10px;
  border: 3px solid #101010;
  font-size: 25px;
  background: rgb(249, 230, 218);
}
#dropdownList > li {
  padding: 5px 10px;
  cursor: pointer;
  user-select: none;
}

main {
  width: 100%; height: calc(100% - 64px);
  position: fixed; bottom: 0;
  z-index: -9999;
  text-align: center;
  overflow-y: auto;
  overflow-x: hidden;
}

#logoContainer {
  width: 60%;
  display: inline-block;
}
#logoContainer img {
  width: 32%; height: auto;
  padding: 20px;
}

.italicizedHeader {
  font-family: "Roboto Italic";
  font-size: 30px;
  padding: 20px;
}

.infoBox {
  display: flex;
  flex-flow: row wrap;
  align-items: center;
  justify-content: center;
  text-align: left;
  padding: 30px 0px;
}
.infoBox img {
  width: 350px; height: auto;
  border-radius: 10px;
}
.infoBox p {
  width: 500px; height: auto;
  font-size: 22px;
  padding: 20px;
}
/* You can use either <ul> or <p> to display information */
.infoBox div > h2 {
  text-align: center;
  padding: 10px 0px;
}
.infoBox ul {
  width: 350px; height: auto;
  list-style-type: upper-roman;
  margin-left: 50px;
  margin-right: 20px;
  font-size: 22px;
}
.infoBox li {
  padding-bottom: 5px;
}

#citation {
  padding: 20px 10px;
  padding-top: 40px;
}
#citation p {
  font-family: "Roboto Italic";
  font-size: 20px;
}
#citation div {
  display: flex;
  flex-flow: row nowrap;
  justify-content: center;
  align-content: center;
}
#citation div > a {
  padding: 5px 10px;
  font-size: 14px;
}

@media screen and (max-width: 650px) {
  header > h1 { display: none; }
}
@media screen and (max-width: 540px) {
  .infoBox { margin: 0; }
}
